In [14]:
import json
import numpy as np
import pandas as pd

## Approximation table 

f = open('result_metrics_pc.json')
all_metrics = json.load(f)

w2s = []
times = []
pies = []

## parameters for pd model

## specify the next three fields below
dataset_name = 'Dynamic3DDataset'
model_name = 'Set2Set'
exp_name= 'set2set_dynamic3d_500'

metrics_names = ['W2', 'time_pd', 'PIE_pd']

for metric_name in metrics_names:
    obtained_metrics = all_metrics[dataset_name][model_name][exp_name][metric_name]
    
    mean = np.mean(obtained_metrics)
    std = np.std(obtained_metrics)
    res = f'{mean:.4f} ± {std:.4f}'
    if metric_name == 'W2':
        w2s.append(res)
    elif 'time' in metric_name:
        times.append(res)
    elif 'PIE' in metric_name:
        pies.append(res)
    
## parameters for pi model
## specify the next three fields below
dataset_name = 'Dynamic3DDataset'
model_name = 'TopologyNet'
exp_name = 'topologynet_dynamic3d_500'

metrics_names = ['time_pi', 'PIE_pi']

for metric_name in metrics_names:
    
    obtained_metrics = all_metrics[dataset_name][model_name][exp_name][metric_name]
    
    mean = np.mean(obtained_metrics)
    std = np.std(obtained_metrics)
    res = f'{mean:.4f} ± {std:.4f}'
    if 'time' in metric_name:
        times.append(res)
    elif 'PIE' in metric_name:
        pies.append(res)
        
result_row = [dataset_name]
header_row = ['Dataset', 'W2', 'PIE', 'PIE', 'Time (ns)', 'Time (ns)']
model_row = ['', model_name, 'Our', model_name, 'Our', model_name]
for w2 in w2s:
    result_row.append(w2)
for pie in pies:
    result_row.append(pie)
for time in times:
    result_row.append(time)
    
df = pd.DataFrame([model_row, result_row], columns=header_row)
df

,Dataset,W2,PIE,PIE,Time (ns),Time (ns)
0,,TopologyNet,Our,TopologyNet,Our,TopologyNet
1,Dynamic3DDataset,1.4405 ± 0.0581,11.2969 ± 0.6510,4.0542 ± 0.0079,2567.3333 ± 20.2079,6674.3341 ± 4.0902

In [13]:
df_orbit

,Dataset,W2,PIE,PIE,Time (ns),Time (ns)
0,,TopologyNet,Our,TopologyNet,Our,TopologyNet
1,OrbitDataset,0.2385 ± 0.0009,4.5464 ± 0.1288,4.6409 ± 0.1600,2611.7288 ± 1.1308,6688.0112 ± 1.8775

In [19]:
df_res = df_orbit.append(df_3d.iloc[1])
df_res

,Dataset,W2,PIE,PIE,Time (ns),Time (ns)
0,,TopologyNet,Our,TopologyNet,Our,TopologyNet
1,OrbitDataset,0.2385 ± 0.0009,4.5464 ± 0.1288,4.6409 ± 0.1600,2611.7288 ± 1.1308,6688.0112 ± 1.8775
1,Dynamic3DDataset,1.4405 ± 0.0581,11.2969 ± 0.6510,4.0542 ± 0.0079,2567.3333 ± 20.2079,6674.3341 ± 4.0902

In [38]:
df_res.iloc[0]["W2"] = 'Our'
df_res

,Dataset,W2,PIE,PIE,Time (ns),Time (ns)
0,,Our,Our,TopologyNet,Our,TopologyNet
1,OrbitDataset,0.2385 ± 0.0009,4.5464 ± 0.1288,4.6409 ± 0.1600,2611.7288 ± 1.1308,6688.0112 ± 1.8775
1,Dynamic3DDataset,1.4405 ± 0.0581,11.2969 ± 0.6510,4.0542 ± 0.0079,2567.3333 ± 20.2079,6674.3341 ± 4.0902

In [31]:
## Classification table 

f = open('result_metrics_pc.json')
all_metrics = json.load(f)

## parameters for pd model
## specify the next 4 fields

dataset_name = 'Dynamic3DDataset'
class_model_name = 'CustomPersformer'
pd_model_name = 'Set2Set'
pi_model_name = 'TopologyNet'


real_model_name = 'real'


## specify the next 4 fields
exp_name_pi = 'topologynet_dynamic3d_500'
exp_name_pd = 'set2set_dynamic3d_500'
exp_name_class_real = 'persformer_dynamic3d_500_real'
exp_name_class_pred = 'persformer_dynamic3d_500_pred'


exp_name_real = 'real'

order = [(real_model_name, exp_name_real), 
         (class_model_name, exp_name_class_real),
         (pi_model_name, exp_name_pi),
         (pd_model_name, exp_name_pd),
         (class_model_name, exp_name_class_pred)
        ]

needed_metrics = [['logreg_acc_real_pi'], 
                  ['acc_real_pd_class'], 
                  ['logreg_acc_pred_pi'], 
                  ['logreg_acc_pred_pd'], 
                  ['acc_pred_pd_class']]

input_names = ['Input', 'Real PI (LogReg)', 'Real PD(TX)', 'Approx. PI (LogReg)', 'Approx. PD > PI (LogReg)', 'Approx. PD (TX)']
model_names = ['Model', '', '', 'TopologyNet', 'Our', 'Our']

result_row = [dataset_name]

for ((model_name, exp_name), cur_metrics) in zip(order, needed_metrics):
    for metric_name in cur_metrics:
        obtained_metrics = all_metrics[dataset_name][model_name][exp_name][metric_name]
        mean = np.mean(obtained_metrics)
        std = np.std(obtained_metrics)
        res = f'{mean:.4f} ± {std:.4f}'
        result_row.append(res)
         
df = pd.DataFrame([model_names, result_row], columns=input_names)
df

,Input,Real PI (LogReg),Real PD(TX),Approx. PI (LogReg),Approx. PD > PI (LogReg),Approx. PD (TX)
0,Model,,,TopologyNet,Our,Our
1,Dynamic3DDataset,0.8522 ± 0.0011,0.8572 ± 0.0002,0.8519 ± 0.0043,0.8499 ± 0.0011,0.8337 ± 0.0000

In [30]:
orbit_met

,Input,Real PI (LogReg),Real PD(TX),Approx. PI (LogReg),Approx. PD > PI (LogReg),Approx. PD (TX)
0,Model,,,TopologyNet,Our,Our
1,OrbitDataset,0.8060 ± 0.0008,0.7698 ± 0.0142,0.8641 ± 0.0043,0.9520 ± 0.0003,0.8983 ± 0.0122

In [33]:
fc_met

,Input,Real PI (LogReg),Real PD(TX),Approx. PI (LogReg),Approx. PD > PI (LogReg),Approx. PD (TX)
0,Model,,,TopologyNet,Our,Our
1,Dynamic3DDataset,0.8522 ± 0.0011,0.8572 ± 0.0002,0.8519 ± 0.0043,0.8499 ± 0.0011,0.8337 ± 0.0000

In [34]:
df_res_met = orbit_met.append(fc_met.iloc[1])
df_res_met

,Input,Real PI (LogReg),Real PD(TX),Approx. PI (LogReg),Approx. PD > PI (LogReg),Approx. PD (TX)
0,Model,,,TopologyNet,Our,Our
1,OrbitDataset,0.8060 ± 0.0008,0.7698 ± 0.0142,0.8641 ± 0.0043,0.9520 ± 0.0003,0.8983 ± 0.0122
1,Dynamic3DDataset,0.8522 ± 0.0011,0.8572 ± 0.0002,0.8519 ± 0.0043,0.8499 ± 0.0011,0.8337 ± 0.0000